body { 
      display: grid;
    grid-template-areas: 
      "header"
      "nav"
      "main"
      "footer";
    //grid-template-rows: 80px 1fr 70px; // 1fr 70px;
    grid-template-rows: 80px auto auto auto;  
    grid-template-columns: 1fr;
    grid-row-gap: 10px;
  grid-column-gap: 10px;
  height: 100vh;
  margin: 0;
 }


header, footer, article, main, nav, div {
  padding: 1.2em;
  }
#page-header {
  grid-area: header;
  }
#page-footer {
  grid-area: footer;
  }
#products { 
  grid-area: main;      
  }
#controls { 
  grid-area: nav; 
  }
/* Stack the layout on small devices/viewports. */
@media all and (min-width: $medium) {
  body { 
  grid-template-areas: 
    "header header header"
    "main main nav"
    "footer footer footer";
  grid-template-rows: 300px 1fr 70px;  
  //grid-template-columns: 1fr 20% 15%;
  grid-template-columns: 35% 35% 25%;
  
  }  
}


/* FLEX FOR TOP MENU */
* {
    box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
    float: left;
    width: 50%;
    padding: 0;
}

.column-right {
  text-align: right;
}

.row {
  padding: 0;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}