body {
	background-color: $light-gray;
	color: $text-gray;

}


h1, h2, h3, h4, h5, h6, p, td, th, button, select, option, label {
	font-family: 'Raleway', Tahoma, sans-serif;
}


.header-container {
	// background-image: url('./img/header.jpg');
	// max-width: 800px;
	// height: 200px;
}

#img-header {
	margin: 0 auto 1em;
	display: block;
}

ul.product-list {
	margin-block-start: 0;
	padding-inline-start: 0;
}

label {
	font-weight: bold;
}


.hidden {
	display: none;
}

.header {
	
}

/* BASKET AND SORT AREA /start */

.basket-container {
	clear: both;
	width:auto;
	background-color: #FFF;
	padding: 1em;
	.basket {
		.col1 {
			width: 55%;
		}
		.col2 {
			width: 15%;
		}
		.col3 {
			width: 15%;
		}
		.col3 {
			width: 15%;
		}
		tr, th {
			border-bottom: 1px solid $light-gray;
			margin: 0 0 1em 0;
			font-size: 0.75em;
		}
		tfoot {
			border-top:  1px solid $light-gray;
			margin-top:3px;
		}
		td:nth-child(1), th:nth-child(1){
			text-align: left;
		}
		td:nth-child(2), th:nth-child(2){
			text-align: right;
		}
		td:nth-child(3), th:nth-child(3){
			text-align: right;
		}
		td:nth-child(4), th:nth-child(4){
			text-align: center;
		}
		tfoot {
			td {
				font-weight: bold;
			}
		}
		
	}
}

.sort-container {
	background-color: #FFF;
	padding: 1em;
	clear: both;
	width:auto;
	select {
			option {
				font-size: 0.75em;
			}	
		}
}

/* BASKET AND SORT AREA /end */

/* PRODUCT LIST /start */

.product-list {
	margin: 5% 0;
	li {
		width: 100%;
		height:auto;
		padding: 0;
		margin-bottom:15px;
		list-style: none;
		text-transform: uppercase;
		background-color: #FFF;
		
		img {
			margin: 5%;
			width: 90%;
			height:auto;
		}
		.item-title {
			width: 60%;
			float: left;
			font-family: 'Raleway', Tahoma, sans-serif;
			font-weight: bold;
			padding: 3%;
		}
		.item-price {
			width: 28%;
			float: left;
			text-align: right;
			font-family: 'Raleway', Tahoma, sans-serif;
			font-weight: bold;
			padding: 3%;
		}
		.btn-addToCart {
			clear: both;
			background-color: $cta;
			color: #FFF;
			border: 0;
			width: 44%;
			float: left;
			padding: 1em;
			text-transform: uppercase;
			font-size: 0.8em;
			cursor: pointer;
			margin: 4% 2% 4% 4%;
		}
		.quick-view {
			background-color: $light-gray;
			border: 0;
			width: 44%;
			//float: left;
			padding: 1em;
			text-transform: uppercase;
			font-size: 0.8em;
			cursor: pointer;
			margin: 4% 4% 4% 2%;
		}
	}
}

/* PRODUCT LIST /end */
