/* Colours */
$color-white: #FFF;
$color-light-gray: #eaeaea;
$color-text-gray: #181818;
$color-pink: #ec0050;

$cta: $color-pink;
$color-primary: $color-pink;


/* Spacing: Padding, margins, etc */
$spacing-sm: 10px;
$spacing-md: 20px;
$spacing-lg: 40px;

/* Media queries  */
$smallMedium: 640px;
$medium: 768px;
$mediumLarge: 920px;
$large: 1200px;
